@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Light.woff2') format('woff2'),
         url('../fonts/CeraPro-Light.woff') format('woff'),
         url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Bold.woff2') format('woff2'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CeraPro-Black.woff2') format('woff2'),
         url('../fonts/CeraPro-Black.woff') format('woff'),
         url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
}

.main{
    padding: 171px 105px 0;
    display: flex;
    flex-direction: row;
}
.product-grid {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px 41px;
  max-width: 1200px;
  margin: 0 auto;

}

.product-card {
 flex: 0 0 calc(33.333% - 30px);
  box-sizing: border-box;
  text-align: start;

}

.product-card img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.product-card h2 {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */

}

.price {
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    }

h3{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.category-list-item{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-left: 10px;
}
.active{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
}
.list{
    display: flex;
    gap: 40px;
}
.list-item{
    font-family:'Cera Pro' ;
    color: O#3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.list-item-active{
    color: #46A358;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 106.667% */
    border-bottom: 3px solid#46A358;
}
.list-item-last{
    align-items: end;
    margin-left: auto;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}
.category{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pagination {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
   padding: 90px 105px;
}

.page {
    padding: 9px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 88.889% */
    border-radius: 4px;
    }

.page.active {
    border-radius: 4px;
    background: #46A358;
    padding: 9px 13px;
    border: 0px solid #ccc;
    color: #FFF;
    cursor: pointer;
    font-family: "Cera Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}